/* TODO: add some buttons for portfolio page */
body {
    font: 300 Raleway, sans-serif;
    color: #9e8b7a;
}

.img-responsive {
    margin: 0 auto;
    width: 100%;
    height: 100%; 
}

.logo-image {
    position: absolute;
    z-index: 10;
    left: 30px;
    width: 150px;
    height: 60px;
}

.modal fade {
    position: relative;
}

.title-text {
    vertical-align: middle;
    position: absolute;
    z-index: 10;
    color: white;
    top: 20%; 
    width: 100%;
    height: 15%;
}

.page-title{
    font: 700 6vw Raleway, sans-serif;   
}

.page-sub-title {
    font: 2.5vw "Libre Barcode 39 Text", cursive;
}

@media screen and (min-width: 1500px) and (max-width: 1799px) {
    .title-text {
        transform: translateY(-40%);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .title-text {
        transform: translateY(-60%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .title-text {
        transform: translateY(-90%);
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .title-text {
       transform: translateY(-110%);
    }    
}

@media screen and (max-width: 480px) {
    .title-text {
       transform: translateY(-120%);
    }   
    .page-sub-title {
       transform: translateY(-150%);
    }
    .logo-image {
        width: 75px;
        height: 30px;
    }
}